@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Todo Web App using Code First Approach</h3><br />
    @Html.ActionLink("All Todos", "Index", "Todo", null, new { @class = "btn btn-primary btn-lg" })

</div>